<p>analytics1 works!</p>
<div class="overview">
    <div>Fund Credited - {{fundCredited | number:'.2-2' }}</div>
    <div>Fund Debited - {{fundDebited | number:'.2-2' }}</div>
    <div *ngIf="item!='icici' && item!='paytm'">Share Bought - {{shareBought | number:'.2-2' }}</div>
    <div *ngIf="item!='icici' && item!='paytm'">Share Sold - {{shareSold | number:'.2-2' }}</div>
</div>

<div *ngIf="completeDataLoaded">

    <app-universal-table [data]="completeData" [tableLocation]="'Analytics'" [category]="category" [item]="item"></app-universal-table>
</div>