<div class="body">
  <div class="header">

    <div *ngIf="showContent" class="change-cursor" (click)="AddTransactionClicked()">Add Transaction</div>
    <div *ngIf="!showContent" class="change-cursor font-color-red" (click)="AddTransactionClicked()">Cancel</div>
    <div class="change-cursor">Filters</div>
    <div class="change-cursor">Doc's</div>
  </div>

<div class="content">
  <div *ngIf="showContent && !loadingTable && data.length>0" class="table">
    <app-stock-table-mat *ngIf="(category=='groww' || category=='kite')" [data]="data"></app-stock-table-mat>
    <app-bank-table-mat *ngIf="(category!='groww' && category!='kite')" [data]="data"></app-bank-table-mat>
  </div>
  
  <div *ngIf="showContent" class="chart">
    <app-stock-graph [graphData]="data"></app-stock-graph>
  </div>

  <div *ngIf="!showContent" class="width-100">
    <app-add-transaction 
      [showSelectionOption]="false"  
      [isAccount]="(category!='groww' && category!='kite') ? true : false" 
      [isStock]="(category=='groww' || category=='kite') ? true:false">
    </app-add-transaction>
  </div>


</div>

</div>