.header{
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    margin-bottom: 16px;
}

.change-cursor{
    cursor: pointer;
}
.form-stock{
    border: black 1px solid;
}
.form-outer-flex{
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    .form-flex{
        display: flex;
        // background-color: red;
        flex-direction: column;
    }
}