<app-header></app-header>

<div class="options" >
    <!-- Select an Option
    <select name="cars" id="cars">
    <option *ngFor="let tmp of dropDownList" [value]="tmp">{{tmp}}</option>

    <option value="audi">Audi</option> -->
    <!-- </select> -->
    <div class="list-header" *ngFor="let tmp of dropDownList" (click)="clickedItem(tmp)" [ngClass]="{'change-font-color-on-click': (item==tmp && items==undefined)}">{{tmp}}</div>
</div>

<app-single *ngIf="isSingle" [item]="item"></app-single>
<app-multiple *ngIf="isMultiple" [items]="items"></app-multiple>

<!-- <mat-slider thumbLabel tickInterval="5" min="1" max="100" step="1" value="50" style="width: 600px;"></mat-slider> -->