<app-header (addTransaction)="addTransactionEvent($event)"></app-header>

<div class="options" >
    <!-- Select an Option
    <select name="cars" id="cars">
    <option *ngFor="let tmp of dropDownList" [value]="tmp">{{tmp}}</option>

    <option value="audi">Audi</option> -->
    <!-- </select> -->
    <div class="list-header" *ngFor="let tmp of dropDownList" (click)="clickedItem(tmp)" [ngClass]="{'change-font-color-on-click': (item==tmp && items==undefined)}">{{tmp}}</div>
</div>

<app-single *ngIf="isSingle" [item]="item"  [category]="category"></app-single>
<app-multiple *ngIf="isMultiple" [items]="items" [category]="category"></app-multiple>
<app-add-transaction *ngIf="isAddTransaction" [showSelectionOption]="true" [isAccount]="false" [isStock]="false"></app-add-transaction>


<div *ngIf="!loadingTable && !isSingle && !isMultiple && !isAddTransaction" class="content">
    <div class="item-1">
        <h3>Total Earnings - {{totalEarning}}</h3>
        <h3>Total Spendings - {{totalSpending}}</h3>
        <app-home-screen-table-mat [data]="data"></app-home-screen-table-mat>
    </div>
    <app-stock-graph class="chart" [graphData]="data"></app-stock-graph>

</div>


<!-- <mat-slider thumbLabel tickInterval="5" min="1" max="100" step="1" value="50" style="width: 600px;"></mat-slider> -->