table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin: 20px;
    width: fit-content;
    // margin: auto;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.table-css {
    margin: 20px;
    width: 40%;
}